@import './base.css';

#app {
	padding: 2px;
	font-weight: normal;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	min-height: 90vh;
}

h1 {
	margin: 0 0 8px 40px;
}

h2 {
	margin: 0;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

@media (hover: hover) {
	a img:hover {
		background-color: lightblue;
		border-radius: 10px;
	}
}

.light {
	color: black;
	background: white;
}

.dark {
	color: white;
	background: darkslategray;
}
